.second{
    background-color: black;
    width: 100%;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}
.navbarpostbutton{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    overflow: auto;
}
.profilebar{

    width: 100%;
    height: fit-content;
    padding-top: 1px; 
    padding-bottom: 1px; 
    
}
.thepost{
    padding: 10px;
}
.pun{
    display: flex;
    flex-direction: row;
}
.firstpost{
    padding-top: 0px;
    height: fit-content;
}
.usernamepb{
    font-size: 11px;
}
.hashtagpb{
    font-size: 11px;
}

.foryouandfollowing{
    margin-top: -3px;
    width: 99.5%;
    box-sizing: border-box;
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #2F3336;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}
.fy{
    transition: 0.1s;
    color: white;
    font-weight: 550;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bar{
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 30px;
    background-color: #1DA1F2;
    border-radius: 10px;

}
.following{
    transition: 0.1s;
    color: #85898e;
    font-weight: 550;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
:hover.fy{
    background-color: #181919;
}
:hover.following{
    background-color: #181919;
}
:active.fy{
    background-color: #181919;
}
:active.following{
    background-color: #181919;
}
.wh{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2F3336;
}
.ppandwh{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
}
.whimage{
    width: 50px;
    border-radius: 100px;
}
.whtext{
    color: #85898e;
}
.logos{
    margin-left: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoss{
    display: flex;
    gap: 10px;
}
.postbutton{
    padding: 8px 20px;
    background-color:#85898e;
    color: black;
    font-weight: 550;
    border-radius: 100px;
}
.smallsvgs{
    width: 20px;
}
.post{
display: flex;
flex-direction: column;
}
.ppanduser{
display: flex;
flex-direction: row;
padding: 15px;
}
.postprofilepic{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}
.postdesc{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.postusername{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.pun{
    font-weight: 550;
}
.phash{
    margin-left: 8px;
    color: #85898e;
}
.bluetick{
    margin-left: 8px;
    width: 20px;
}
.posttitle{
    color: white;
font-size: 14px;
margin-bottom: 9px;
}
.thepost{
    margin-left: 65px;
    max-width: 80%;
    border: 1px solid #2F3336 ;
    border-radius: 20px;
}
.theactualpost{
    max-width: 100%;
    border-radius: 20px;
}
.buttons{
    margin-top: 8px;
    color:#85898e;
    margin-left: 65px;
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 12px;
    cursor: pointer; 
}
.comment{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 12px;
}
.actualactionsvg{
    width: 20px;
}
.shareandbm{
    display: flex;

}
:hover .barchart .share .bm{
    color: #1DA1F2 ;
}
.lastpost{
    margin-bottom: 50px;
}
.nbpsvg{
    display: none;
}

@media screen and (max-width:1100px) {
.third{
    display: none;
}
.profilebar{
    display: none;
}
.first{
    width: 30%;
    justify-content: start;
}
.subbox{
    width: 100%;
}
}
@media screen and (max-width:500px) {
.navbarbuttontext{
    display: none;
}
.navbarpostbutton{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 4px;
    margin-left: 8px;
}
.npbc{
    justify-content: start;
}
.nbpt{
    display: none;
}
.nbpsvg{
    display: block;
}
.sopimage{
    display: none;
}
.first{
    width: 15%;
}
.thepost{
    margin-left: 5px;
    max-width: 88%;
    border: 1px solid #2F3336 ;
    border-radius: 20px;
}
.theactualpost{
    max-width: 100%;
    border-radius: 20px;
}
.post{
    align-items: center;
}
.buttons{
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
.posttitle{
    font-size: 13px;
    margin-bottom: 15px;
}
.postusername{
    font-size: 13px;
    flex-direction: column;
}
.pun{
    display: flex;
    flex-direction: row;
}
.phash{
    margin-left: 0px;

}
.ppanduser{
     width: 88%;
     align-items: center;
     justify-content: start;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
.postprofilepic{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.profilebar{
    display: none;
}
.action{
    font-size: 11px;
}
.actualactionsvg{
    width: 10px;
}
.first{
    overflow: auto;
}
.subbox{
}
.postbutton{
    margin-left: 10px;
    padding: 3px 8px;
    background-color:#85898e;
    color: black;
    font-weight: 550;
    border-radius: 100px;
}
.logos{
    margin-left: 0px;
    margin-top: 10px;
}
}